<app-header></app-header>
<H1 class="h1-login">LOGIN</H1>
<hr>
<form class="example-form">
    <span class="input-header"> CPF: </span>
    <hr class="login-line">
    <div class="div-user">
        <mat-form-field class="input" appearance="fill">
            <mat-label id="label-cpf">CPF</mat-label>
            <input matInput id="cpf">
        </mat-form-field>
    </div>
    <span class="input-header"> Senha </span>
    <hr class="login-line">
    <div class="div-user">
        <mat-form-field class="input" appearance="fill">
            <mat-label id="label-password">Digite sua senha</mat-label>
            <input matInput id="password" [type]="hide ? 'password' : 'text'">
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="button-class">
        <div class="button">
            <button mat-stroked-button class="intern-button" id="login-button"> Entrar</button>
        </div>
    </div>
</form>