.header{
    display: flex;
    align-items: center;
    background-color: black;
    margin-top: 1px;
    height: 120px;
}

.header a{
    display: flex;
    align-items: center;
}

.caderno{
    width: 90px;
    padding-left: 40px;
}

h1 {
    color: white;
    padding-left: 15px;
}