<app-header></app-header>
<app-perfil-header></app-perfil-header>

<div class="image-div"> 
    <img class="image" src="../../../assets/avatar.jpg" alt="dsda">
</div>
<hr>
<div class="text-div">
    <span class="title-one">Nome:</span>
    <span class="text-one">Alvacir Roberto de Sousa</span>
    <span class="divider"></span>
    <span class="title-two"> Idade: </span>
    <span class="text-two"> 35 anos</span>
</div>
<div class="text-div-final text-div">
    <span class="title-one">Email:</span>
    <span class="text-one">AlvacirRSousa@gmail.com</span>
    <span class="divider"></span>
    <span class="title-two"> Telefone: </span>
    <span class="text-two"> 51 991630909</span>
</div>


<app-footer></app-footer>
