<app-header></app-header>
<app-perfil-header></app-perfil-header>
<div class="image-div">
    <img class="image" src="../../../assets/avatar.jpg" alt="dsda">
</div>
<hr>
<div class="text-div">
    <span class="title-two"> Nome: </span>
    <span class="text-one"> {{student[0].name}} </span>
    <span class="divider"></span>
    <span class="title-two"> Turma: </span>
    <span class="text-two"> {{student[0].class}} </span>
</div>
<div class="text-div-final text-div">
    <span class="title-one"> Email: </span>
    <span class="text-one"> {{student[0].email}} </span>
    <span class="divider"></span>
    <span class="title-two"> Telefone: </span>
    <span class="text-two"> {{student[0].phone}} </span>
</div>
<app-footer></app-footer>