<app-header></app-header>
<app-atividades-header></app-atividades-header>
        

            <div class="input">

                <span class="text"> Selecione a matéria </span>
                <hr>

                <mat-form-field appearance="fill" class="input-button">
                    <mat-label>Select me</mat-label>
                    <mat-select>
                      <mat-option value="option">Matematica</mat-option>
                      <mat-option value="option">Portugeus</mat-option>
                      <mat-option value="option">Historia</mat-option>
                      <mat-option value="option">Artes</mat-option>
                    </mat-select>
                  </mat-form-field>
                    
                    <button mat-stroked-button class="button"> Buscar </button>
            </div>

            <div class="grid">
                <h3>Atividades</h3>
                <mat-tab-group animationDuration="2000ms" mat-align-tabs="center" >
                <mat-tab label="Ativas" class="group-list">Atividades</mat-tab>
                <mat-tab label="Pendentes" class="group-list">Atividades</mat-tab>
                <mat-tab label="Realizadas" class="group-list">Atividades</mat-tab>
                </mat-tab-group>
            </div>
            



<app-footer></app-footer>
