<mat-toolbar class="header">
    <span>
        <a>
            <img src="../../../assets/caderno.png" alt="" class="caderno">
            <h1> Student Plataform</h1>
        </a>
    </span>
</mat-toolbar>

<H1 class="h1-login">LOGIN</H1>
<hr>

<form class="example-form">
    
    <span class="imput-header"> Usuario: </span>
        <hr class="login-line">

    <div class="div-user">
        <mat-form-field class="imput" appearance="fill">
            <mat-label>Usuario</mat-label>
            <input matInput placeholder="Ex. User123" value="" >
          </mat-form-field>
    </div>

    <span class="imput-header"> Password: </span>
        <hr class="login-line">

    <div class="div-pass">
        <mat-form-field class="imput" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Ex. 1234" value="" >
      </mat-form-field>

    </div>


    <div class="button-class">
            <div class="button">
              <button mat-stroked-button class="intern-button" routerLink="/home"> Entrar</button>
            </div>
            
    </div>
    
    
</form>